In [2]:
import pandas as pd

In [3]:
# Load the Datasets

cab_data = pd.read_csv("Cab_Data.csv")
customer_data = pd.read_csv("Customer_ID.csv")
transaction_data = pd.read_csv("Transaction_ID.csv")
city_data = pd.read_csv("City.csv")

In [9]:
# Display the first few rows of each dataset to get an initial sense of the data
print("Cab Data Sample:")
print(cab_data.head())

print("\nCustomer Data Sample:")
print(customer_data.head())

print("\nTransaction Data Sample:")
print(transaction_data.head())

print("\nCity Data Sample:")
print(city_data.head())

Cab Data Sample:
   Transaction ID  Date of Travel   Company        City  KM Travelled  \
0        10000011           42377  Pink Cab  ATLANTA GA         30.45
1        10000012           42375  Pink Cab  ATLANTA GA         28.62
2        10000013           42371  Pink Cab  ATLANTA GA          9.04
3        10000014           42376  Pink Cab  ATLANTA GA         33.17
4        10000015           42372  Pink Cab  ATLANTA GA          8.73

   Price Charged  Cost of Trip
0         370.95       313.635
1         358.52       334.854
2         125.20        97.632
3         377.40       351.602
4         114.62        97.776

Customer Data Sample:
   Customer ID Gender  Age  Income (USD/Month)
0        29290   Male   28               10813
1        27703   Male   27                9237
2        28712   Male   53               11242
3        28020   Male   23               23327
4        27182   Male   33                8536

Transaction Data Sample:
   Transaction ID  Customer ID Payment_Mode
0        10000011        29290         Card
1        10000012        27703         Card
2        10000013        28712         Cash
3        10000014        28020         Cash
4        10000015        27182         Card

City Data Sample:
             City   Population      Users
0     NEW YORK NY   8,405,837    302,149
1      CHICAGO IL   1,955,130    164,468
2  LOS ANGELES CA   1,595,037    144,132
3        MIAMI FL   1,339,155     17,675
4  SILICON VALLEY   1,177,609     27,247

In [11]:
# List field names and data types for each dataset
def list_fields_and_data_types(df):
    print("\nField Names and Data Types:")
    for column, dtype in zip(df.columns, df.dtypes):
        print(f"{column}: {dtype}")

print("\nCab Data:")
list_fields_and_data_types(cab_data)

print("\nCustomer Data:")
list_fields_and_data_types(customer_data)

print("\nTransaction Data:")
list_fields_and_data_types(transaction_data)

print("\nCity Data:")
list_fields_and_data_types(city_data)

**Cab Data:**

Field Names and Data Types:
Transaction ID: int64
Date of Travel: int64
Company: object
City: object
KM Travelled: float64
Price Charged: float64
Cost of Trip: float64

Customer Data:

Field Names and Data Types:
Customer ID: int64
Gender: object
Age: int64
Income (USD/Month): int64

Transaction Data:

Field Names and Data Types:
Transaction ID: int64
Customer ID: int64
Payment_Mode: object

City Data:

Field Names and Data Types:
City: object
Population: object
Users: object

In [ ]:
# Step 3: Identify Relationships Across Files
# Continue to examine the data to determine relationships and common fields for joining.

# Step 4: Field/Feature Transformations
# This step may involve creating new features, aggregations, etc., as needed for analysis.

# Step 5: Determine Join vs. Append
# Decide how datasets should be combined, if necessary.

# Step 6: Create Master Data and Explain the Relationship
# If joining datasets, perform the join operation and explain relationships.

# Step 7: Identify and Remove Duplicates
# Check for and handle duplicate records, ensuring clean and unique data.

# Step 8: Perform Other Analysis
# Handle missing values, outliers, and other data cleaning tasks as needed.